<a href="https://colab.research.google.com/github/shivamByteLab/machine-learning/blob/main/pandas_exr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
dic = {'a':[10,20,30,40],'b':['a','b','c','d'],'c':[0,1,1,0]}

In [ ]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(dic)

a    [10, 20, 30, 40]
b        [a, b, c, d]
c        [0, 1, 1, 0]
dtype: object

In [ ]:
#Data Frames

In [ ]:
data ={'name': ['Alice', 'Bob', 'Charlie'],
 'age': [25, 30, 35],
 'city': ['New York', 'Los Angeles', 'Chicago'],
 'salary': [50000, 60000, 75000]}

In [ ]:
pd.DataFrame(data=data)

      name  age         city  salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   75000

In [ ]:
data_array = np.array([
  ['Alice' ,25 ,'New York',50000],
  ['Bob' ,30 ,'Los Angeles',60000],
  ['Charlie' ,35 ,'Chicago',75000],
])

In [ ]:
pd.DataFrame(data_array)

         0   1            2      3
0    Alice  25     New York  50000
1      Bob  30  Los Angeles  60000
2  Charlie  35      Chicago  75000

In [ ]:
col=['Name','Age','City','Salary']
df=pd.DataFrame(data_array,columns=col)
df

      Name Age         City Salary
0    Alice  25     New York  50000
1      Bob  30  Los Angeles  60000
2  Charlie  35      Chicago  75000

In [ ]:
df['Name']

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [ ]:
df[['Age','Name']]

  Age     Name
0  25    Alice
1  30      Bob
2  35  Charlie

In [ ]:
df.loc[2]

Name      Charlie
Age            35
City      Chicago
Salary      75000
Name: 2, dtype: object

In [ ]:
df.loc[[0,2]][['City','Salary']]

       City Salary
0  New York  50000
2   Chicago  75000

In [ ]:
df['Age'] = df['Age'].astype(int)
df[df['Age']>30]

      Name  Age     City Salary
2  Charlie   35  Chicago  75000

In [ ]:
df[(df['Age']>19) & (df['City']=='Chicago')]

      Name  Age     City Salary
2  Charlie   35  Chicago  75000

In [ ]:
# missing data

In [ ]:
mis_data = {
    'A':[np.nan,2,3,np.nan,5],
    'B':[1,2,3,np.nan,5],
    'C':[1,np.nan,3,np.nan,np.nan],
    'D':[np.nan,np.nan,3,np.nan,5],
}

In [ ]:
mdf = pd.DataFrame(mis_data)
mdf

     A    B    C    D
0  NaN  1.0  1.0  NaN
1  2.0  2.0  NaN  NaN
2  3.0  3.0  3.0  3.0
3  NaN  NaN  NaN  NaN
4  5.0  5.0  NaN  5.0

In [ ]:
mdf.isna().sum()

A    2
B    1
C    3
D    3
dtype: int64

In [ ]:
mdf.isna().any()

A    True
B    True
C    True
D    True
dtype: bool

In [ ]:
mdf.dropna()

     A    B    C    D
2  3.0  3.0  3.0  3.0

In [ ]:
mdf.dropna(thresh=3)

     A    B    C    D
2  3.0  3.0  3.0  3.0
4  5.0  5.0  NaN  5.0

In [ ]:
mdf.fillna(0)

     A    B    C    D
0  0.0  1.0  1.0  0.0
1  2.0  2.0  0.0  0.0
2  3.0  3.0  3.0  3.0
3  0.0  0.0  0.0  0.0
4  5.0  5.0  0.0  5.0

In [ ]:
values ={'A':0,'B':100,'C':300,'D':400}
mdf.fillna(value=values)

     A      B      C      D
0  0.0    1.0    1.0  400.0
1  2.0    2.0  300.0  400.0
2  3.0    3.0    3.0    3.0
3  0.0  100.0  300.0  400.0
4  5.0    5.0  300.0    5.0

In [ ]:
mdf.fillna(mdf.mean())

          A     B    C    D
0  3.333333  1.00  1.0  4.0
1  2.000000  2.00  2.0  4.0
2  3.000000  3.00  3.0  3.0
3  3.333333  2.75  2.0  4.0
4  5.000000  5.00  2.0  5.0

In [ ]:
employees = pd.DataFrame({
    'employee_id': [1, 2, 3, 4, 5],
    'name': ['John', 'Anna', 'Peter', 'Linda', 'Bob'],
    'department': ['HR', 'IT', 'Finance', 'IT', 'HR']
})

# DataFrame 2: Salary information
salaries = pd.DataFrame({
    'employee_id': [1, 2, 3, 6, 7],
    'salary': [60000, 80000, 65000, 70000, 90000],
    'bonus': [5000, 10000, 7000, 8000, 12000]
})

In [ ]:
employees

   employee_id   name department
0            1   John         HR
1            2   Anna         IT
2            3  Peter    Finance
3            4  Linda         IT
4            5    Bob         HR

In [ ]:
pd.merge(employees,salaries,'inner')

   employee_id   name department  salary  bonus
0            1   John         HR   60000   5000
1            2   Anna         IT   80000  10000
2            3  Peter    Finance   65000   7000

In [ ]:
pd.merge(employees,salaries,'outer')

   employee_id   name department   salary    bonus
0            1   John         HR  60000.0   5000.0
1            2   Anna         IT  80000.0  10000.0
2            3  Peter    Finance  65000.0   7000.0
3            4  Linda         IT      NaN      NaN
4            5    Bob         HR      NaN      NaN
5            6    NaN        NaN  70000.0   8000.0
6            7    NaN        NaN  90000.0  12000.0

In [ ]:
pd.merge(employees,salaries,'left')

   employee_id   name department   salary    bonus
0            1   John         HR  60000.0   5000.0
1            2   Anna         IT  80000.0  10000.0
2            3  Peter    Finance  65000.0   7000.0
3            4  Linda         IT      NaN      NaN
4            5    Bob         HR      NaN      NaN

In [ ]:
pd.merge(employees,salaries,'right')

   employee_id   name department  salary  bonus
0            1   John         HR   60000   5000
1            2   Anna         IT   80000  10000
2            3  Peter    Finance   65000   7000
3            6    NaN        NaN   70000   8000
4            7    NaN        NaN   90000  12000

In [ ]:
# pd.merge(employees,salaries,'cross')

In [ ]:
d1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2'],
    'C': ['C0', 'C1', 'C2']
})

d2 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5'],
    'C': ['C3', 'C4', 'C5']
})

In [ ]:
pd.concat([d1,d2])

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
0  A3  B3  C3
1  A4  B4  C4
2  A5  B5  C5

In [ ]:
pd.concat([d1,d2],axis=1)

    A   B   C   A   B   C
0  A0  B0  C0  A3  B3  C3
1  A1  B1  C1  A4  B4  C4
2  A2  B2  C2  A5  B5  C5

joining 2 data frames

In [ ]:
j1 = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie']
}, index=[1, 2, 3])

# Second DataFrame
j2 = pd.DataFrame({
    'score': [85, 90, 75]
}, index=[2, 3, 4])

Grouping

In [ ]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
dt = pd.DataFrame(data)

In [ ]:
dt.groupby('Category')['Sales'].sum()

Category
A    570
B    930
Name: Sales, dtype: int64

In [ ]:
dt.groupby('Store')['Sales'].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [ ]:
dt.groupby(['Store','Category'])['Sales'].sum()

Store  Category
S1     A           220
       B           500
S2     A           350
       B           430
Name: Sales, dtype: int64

Aggregation

In [ ]:
dt['Sales'].mode()
# """mean median min max count std """

0    200
Name: Sales, dtype: int64

In [ ]:
dt['Sales'].agg(['sum', 'mean', 'min', 'max', 'count', 'std', 'median'])

sum       1500.000000
mean       187.500000
min        100.000000
max        300.000000
count        8.000000
std         66.062741
median     190.000000
Name: Sales, dtype: float64

## PivotTables

In [ ]:


data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'],
    'Sales': np.random.randint(100, 1000, 20),
    'Units': np.random.randint(10, 100, 20),
    'Rep': ['John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary',
            'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice']
}

pt = pd.DataFrame(data)

pt['Month'] = pt['Date'].dt.month_name()
pt['Quarter'] = 'Q' + pt['Date'].dt.quarter.astype(str)
pt

         Date Product Region  Sales  Units    Rep    Month Quarter
0  2023-01-01       A   East    188     62   John  January      Q1
1  2023-01-02       B   West    520     99   Mary  January      Q1
2  2023-01-03       C  North    710     99    Bob  January      Q1
3  2023-01-04       D  South    974     21  Alice  January      Q1
4  2023-01-05       A   East    771     83   John  January      Q1
5  2023-01-06       B   West    795     91   Mary  January      Q1
6  2023-01-07       C  North    653     62    Bob  January      Q1
7  2023-01-08       D  South    923     19  Alice  January      Q1
8  2023-01-09       A   East    771     78   John  January      Q1
9  2023-01-10       B   West    321     80   Mary  January      Q1
10 2023-01-11       C  North    596     26    Bob  January      Q1
11 2023-01-12       D  South    374     79  Alice  January      Q1
12 2023-01-13       A   East    182     69   John  January      Q1
13 2023-01-14       B   West    527     54   Mary  January      Q1
14 2023-01-15       C  North    725     95    Bob  January      Q1
15 2023-01-16       D  South    683     33  Alice  January      Q1
16 2023-01-17       A   East    712     23   John  January      Q1
17 2023-01-18       B   West    735     15   Mary  January      Q1
18 2023-01-19       C  North    208     65    Bob  January      Q1
19 2023-01-20       D  South    548     99  Alice  January      Q1

In [ ]:
pd.pivot_table(pt,values = "Sales",index = 'Region',columns="Product",aggfunc ='median')

Product      A      B      C      D
Region
East     712.0    NaN    NaN    NaN
North      NaN    NaN  653.0    NaN
South      NaN    NaN    NaN  683.0
West       NaN  527.0    NaN    NaN

In [ ]:
pivot2 = pd.pivot_table(pt, values=['Sales', 'Units'], index='Region', columns='Product')
pivot2

         Sales                      Units
Product      A      B      C      D     A     B     C     D
Region
East     524.8    NaN    NaN    NaN  63.0   NaN   NaN   NaN
North      NaN    NaN  578.4    NaN   NaN   NaN  69.4   NaN
South      NaN    NaN    NaN  700.4   NaN   NaN   NaN  50.2
West       NaN  579.6    NaN    NaN   NaN  67.8   NaN   NaN

In [ ]:
pd.crosstab(pt['Region'],pt['Product'])

Product  A  B  C  D
Region
East     5  0  0  0
North    0  0  5  0
South    0  0  0  5
West     0  5  0  0

## DataFrames Basic Operations

In [ ]:
df_op = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
})

In [ ]:
df_op.shape

(5, 3)

In [ ]:
df_op.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
df_op.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
dtypes: int64(3)
memory usage: 252.0 bytes

In [ ]:
df_op.describe()

              A          B           C
count  5.000000   5.000000    5.000000
mean   3.000000  30.000000  300.000000
std    1.581139  15.811388  158.113883
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  200.000000
50%    3.000000  30.000000  300.000000
75%    4.000000  40.000000  400.000000
max    5.000000  50.000000  500.000000